body{
font-family: Arial;
margin:0;
background:#f4f7fb;
text-align:center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e90ff;
    color: white;
    padding: 15px 30px;
}
.navbar h1 {
    text-align: right;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar li {
    cursor: pointer;
}
.navbar a:hover {
    color: rgba(0, 255, 255, 0.199);
}

.title{
margin-top:30px;
color:#1e90ff;
}

.profile-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
padding:40px;
max-width:900px;
margin:auto;
}

.profile-form,
.profile-display{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.profile-form{
display:flex;
flex-direction:column;
gap:10px;
}

input, select{
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
margin-top:10px;
padding:10px;
border:none;
border-radius:10px;
background:#1e90ff;
color:white;
cursor:pointer;
}

button:hover{
background:#0f6cd1;
}

.profile-display p{
font-size:16px;
margin:10px 0;
}